@model SAV.Models.SearchComisionViewModel

@{
    ViewBag.Title = "Search";
}


<div id="content">
	<div class="headTables selected">
		<p>Buscar</p>
	</div>
    @using (Html.BeginForm())
    {
           @Html.ValidationSummary(false)
	<div class="contenidoDatos">
		<div class="datosInputs">
			<p class="edicion">@Html.LabelFor(model => model.Contacto)</p>
            @Html.TextBoxFor(model => model.Contacto)

			<p class="edicion">@Html.LabelFor(model => model.Telefono)</p>
            @Html.TextBoxFor(model => model.Telefono)
		</div>

        <div class="datosInputs">
             <p class="edicion obligatorio">@Html.LabelFor(model => model.Servicio)<b>(*)</b></p>
                @Html.DropDownListFor(model => model.Servicio, from c in Enum.GetNames(typeof(SAV.Models.ComisionServicio))
                                                               select new SelectListItem
                                                               {
                                                                   Text = c,
                                                                   Value = c
                                                               }, "Elija una opción")

                 <p class="edicion obligatorio">@Html.LabelFor(model => model.Accion)<b>(*)</b></p>
                @Html.DropDownListFor(model => model.Accion, from c in Enum.GetNames(typeof(SAV.Models.ComisionAccion))
                                                             select new SelectListItem
                                                             {
                                                                 Text = c,
                                                                 Value = c
                                                             }, "Elija una opción")
		</div>
   
		<div class="botones">
			<div class="boton">
				<div class="inicioBotonGris"></div>
				<input id="buscar" class="centroBotonGris waiting" type="submit" value="Buscar"/>
				<div class="finBotonGris"></div>
			</div>
			<div class="boton">
				<div class="inicioBotonGris"></div>
                <input type="button" class="centroBotonGris waiting" value="Nuevo" onclick="location.href='@Url.Action("Create", new { IdViaje = ViewBag.IdViaje })'"></input>
				<div class="finBotonGris"></div>
			</div>
             @if (ViewBag.IdViaje !=null )
            {
            <div class="boton">
				<div class="inicioBotonGris"></div>
                <input type="button" class="centroBotonGris waiting" value="Volver" onclick="location.href='@Url.Action("Details", "Viaje" ,new { id = ViewBag.IdViaje })    '"></input>
				<div class="finBotonGris"></div>
			</div>
            }
		</div>	
	</div>
    <div class="footerTables"></div>
    }
     <!-- RESULTADO TABLES -->
    <div id="partialViewComision">
            @Html.Partial("_ComisionTable", Model.Comisiones)
    </div>
</div>
    