@model SAV.Models.ComisionGastoViewModel

@{
    ViewBag.Title = "gastos";
}


<div id="content">
    <div class="headTables selected">
        <p>Nuevo Gasto</p>
    </div>
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)
        <div class="contenidoDatos">
            <div class="datosInputs">
                <p class="edicion">@Html.LabelFor(model => model.Descripcion)</p>
                @Html.TextBoxFor(model => model.Descripcion)

                <p class="edicion">@Html.LabelFor(model => model.Monto)</p>
                @Html.TextBoxFor(model => model.Monto)
            </div>

            <div class="botones">
                <div class="boton">
                    <div class="inicioBotonGris"></div>
                    <input id="agregar" class="centroBotonGris waiting" type="submit" value="Agregar" />
                    <div class="finBotonGris"></div>
                </div>
            </div>
        </div>
        <div class="footerTables"></div>

        <div class="contenidoDatosError">
            <p>@Html.ValidationMessageFor(model => model.Descripcion)</p>
            <p>@Html.ValidationMessageFor(model => model.Monto)</p>
        </div>
    }

@using (Html.BeginForm("SearchComisionGasto", "Comision"))
{
    <div class="headTables selected">
        <p>Buscar Gastos</p>
    </div>
    <div class="contenidoDatos">
        <div class="datosInputs">
            <p class="edicion">@Html.LabelFor(model => model.BuscarDescriptcion)</p>
            @Html.TextBoxFor(model => model.BuscarDescriptcion)

            <p class="edicion">@Html.LabelFor(model => model.BuscarMonto)</p>
            @Html.TextBoxFor(model => model.BuscarMonto)
        </div>

        <div class="datosInputs">
            <p class="edicion">@Html.LabelFor(model => model.BuscarFecha)</p>
            @Html.TextBoxFor(model => model.BuscarFecha, new { @class = "fecha", @id = "fecha", @name = "fecha", @readonly = true })
        </div>

        <div class="botones">
            <div class="boton">
                <div class="inicioBotonGris"></div>
                <input id="buscar" class="centroBotonGris waiting" type="submit" value="Buscar" />
                <div class="finBotonGris"></div>
            </div>
        </div>
    </div>
    <div class="footerTables"></div>
}

    <div id="gastosTable">
        @Html.Partial("_spendingTable", Model.Gastos, new ViewDataDictionary { { "descripcion", Model.BuscarDescriptcion }, { "fechaAlta", Model.BuscarFecha }, { "monto", Model.BuscarMonto } })
    </div>
</div>