@model SAV.Models.LocalPasswordModel

@using (Html.BeginForm("Manage", "Account")) {
    @Html.AntiForgeryToken()
    <div id="content">
        <div class="headTables selected">
            <p>Cambiar Contraseña de @User.Identity.Name</p>
        </div>
        <div class="contenidoDatos">
            <div class="datosInputs">
                <p class="edicion">@Html.LabelFor(model => model.OldPassword)</p>
                @Html.PasswordFor(m => m.OldPassword)
            </div>

            <div class="datosInputs">
                <p class="edicion">@Html.LabelFor(m => m.NewPassword)</p>
                @Html.PasswordFor(m => m.NewPassword)

                <p class="edicion">@Html.LabelFor(m => m.ConfirmPassword)</p>
                @Html.PasswordFor(m => m.ConfirmPassword)
            </div>

            <div class="botones">
                <div class="boton">
                    <div class="inicioBotonGris"></div>
                    <input id="cambiar" class="centroBotonGris waiting" type="submit" value="Cambiar"></input>
                    <div class="finBotonGris"></div>
                </div>
            </div>
        </div>
        <div class="footerTables"></div>
        <div class="contenidoDatosError">
            <p>@Html.ValidationSummary()</p>
            @if(ViewData.ModelState.IsValid){
            <span class='field-validation-error'><p>@ViewBag.StatusMessage</p></span>
            }
        </div>
    </div>
}