@using PagedList
@using PagedList.Mvc
@using SAV.Models
@model IPagedList<SAV.Models.Gasto>

<div class="alertTablesExtended" id="alertTablesExtended">
    <div class="seccion">

        @Html.PagedListPager((IPagedList)Model, page => Url.Action("CierrePagingAdicionalConductor", new { IdViaje = ViewBag.IdViaje, pageNumber = page })
                                                                                                , PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new PagedListRenderOptions() { DisplayLinkToFirstPage = PagedListDisplayMode.Never, DisplayLinkToLastPage = PagedListDisplayMode.Never ,  DisplayLinkToNextPage = PagedListDisplayMode.IfNeeded, DisplayLinkToPreviousPage = PagedListDisplayMode.IfNeeded, DisplayLinkToIndividualPages = false, DisplayPageCountAndCurrentLocation = true, LinkToNextPageFormat = "", LinkToPreviousPageFormat = "", PageCountAndCurrentLocationFormat = "Mostrando Pagina {0} de {1}", }
                                                                                                , new AjaxOptions() { HttpMethod = "GET",OnBegin="enableSpinner", OnSuccess="disableSpinner", UpdateTargetId = "partialViewGastos" }))

        <div class="headAlertTablesExtended selected">
            <p>Gastos</p>
            <a id="Comisiones" name="Comisiones" href="#" class="desplegado"></a>
        </div>
        <div id="tablaComisiones" class="desplegableTablaCamp" style="display: block;">
            <table id="tablaParts" class="tablesorter">
                <thead>
                    <tr class="headTitles noBorder">
                        <th class="type2 type39">
                            <p>@Html.DisplayNameFor(model => model.First().TipoGasto)</p>
                            <span class="ordenamiento"></span></th>
                         <th class="type2 type57">
                            <p>@Html.DisplayNameFor(model => model.First().Monto)</p>
                            <span class="ordenamiento"></span></th>
                        <th class="type2 type39">
                            <p>@Html.DisplayNameFor(model => model.First().Comentario)</p>
                            <span class="ordenamiento"></span></th>
                        <th class="type22"><p></p><span class="ordenamiento"></span></th>
                    </tr>

                </thead>
                <tbody>
                    @for (int i = 0; i < Model.Count; i++)
                    {
                        <tr>
                            <td class="type2 type39">
                                <p>@Html.DisplayFor(m => m[i].TipoGasto.Descripcion)</p>
                            </td>
                            <td class="type2 type57">
                                <p>@Html.DisplayFor(m => m[i].Monto)</p>
                            </td>
                            <td class="type2 type39">
                                <p>@Html.DisplayFor(m => m[i].Comentario)</p>
                            </td>
                            <td class="type22">
                                <a onclick = "if(confirmSpinner('Esta seguro que desea borrar el gasto?')) deleteGasto(@Html.DisplayFor(m => m[i].ID), @ViewBag.IdViaje);" >
                                    <span id="Span43" class="action retirar" title="Eliminar"/>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="botones">
    
</div>