@using PagedList
@using PagedList.Mvc
@model IPagedList<SAV.Models.Pasajeros>

<div class="alertTablesExtended" id="alertTablesExtended">
    <div class="seccion">

        @Html.PagedListPager((IPagedList)Model, page => Url.Action("DetailsPagingPasajeros", new { IdViaje = ViewBag.IdViaje, pageNumber = page })
                                                                                            , PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new PagedListRenderOptions() { DisplayLinkToFirstPage = PagedListDisplayMode.Never, DisplayLinkToLastPage = PagedListDisplayMode.Never ,  DisplayLinkToNextPage = PagedListDisplayMode.IfNeeded, DisplayLinkToPreviousPage = PagedListDisplayMode.IfNeeded, DisplayLinkToIndividualPages = false, DisplayPageCountAndCurrentLocation = true, LinkToNextPageFormat = "", LinkToPreviousPageFormat = "", PageCountAndCurrentLocationFormat = "Mostrando Pagina {0} de {1}", }
                                                                                            , new AjaxOptions() { HttpMethod = "GET",OnBegin="enableSpinner", OnSuccess="disableSpinner", UpdateTargetId = "partialViewPasajeros" }))

        <div class="headAlertTablesExtended selected">
            <p>Pasajeros</p>
            <a id="Pasajeros" name="Pasajeros" href="#" class="desplegado"></a>
        </div>
        <div id="tablaPasajeros" class="desplegableTablaCamp" style="display: block;">
            <table id="tablaParts" class="tablesorter">
                <thead>
                    <tr class="headTitles noBorder">
                        <th class="type2" style="width: 25px;">
                            <p>Nro</p>
                            <span class="ordenamiento"></span></th>
                        <th class="type2" style="width: 160px;">
                            <p>@Html.DisplayNameFor(model => model.First().Apellido) , @Html.DisplayNameFor(model => model.First().Nombre) </p>
                            <span class="ordenamiento"></span></th>
                         <th class="type2 type13">
                            <p>@Html.DisplayNameFor(model => model.First().DNI)</p>
                            <span class="ordenamiento"></span></th>
                         <th class="type2 type119">
                            <p>@Html.DisplayNameFor(model => model.First().Telefono)</p>
                            <span class="ordenamiento"></span></th>
                        <th class="type2" style="width: 185px;">
                            <p>Acenso</p>
                            <span class="ordenamiento"></span></th>
                        <th class="type2" style="width: 185px;">
                            <p>Descenso</p>
                            <span class="ordenamiento"></span></th>
                        <th class="type2 type4">
                            <p>Pago</p>
                            <span class="ordenamiento"></span></th>
                        <th class="type2" style="width: 130px;">
                            <p>Vendedor</p>
                            <span class="ordenamiento"></span></th>
                        <th style="width: 61px;">
                            <p>&nbsp;&nbsp;&nbsp;&nbsp;</p>
                        </th>
                    </tr>

                </thead>
                <tbody id="tablaPasajeros">
                    @foreach (var item in Model)
                    {
                        if (item.ClienteViajeID == 0)
                        {
                            <tr>
                                <td onclick="location.href='@Url.Action("Search", "Cliente", new { IdViaje = ViewBag.IdViaje, NumeroAsiento = item.NumeroAsiento })'" class="type2 waiting" style="width: 25px;">
                                    <p>@Html.DisplayFor(modelItem => item.NumeroAsiento)</p>
                                </td>
                                <td onclick="location.href='@Url.Action("Search", "Cliente", new { IdViaje = ViewBag.IdViaje, NumeroAsiento = item.NumeroAsiento })'" class="type2 waiting" style="width: 160px;"></td>
                                <td onclick="location.href='@Url.Action("Search", "Cliente", new { IdViaje = ViewBag.IdViaje, NumeroAsiento = item.NumeroAsiento })'" class="type2 type13 waiting"></td>
                                <td onclick="location.href='@Url.Action("Search", "Cliente", new { IdViaje = ViewBag.IdViaje, NumeroAsiento = item.NumeroAsiento })'" class="type2 type119 waiting"></td>
                                <td onclick="location.href='@Url.Action("Search", "Cliente", new { IdViaje = ViewBag.IdViaje, NumeroAsiento = item.NumeroAsiento })'" class="type2 waiting"  style="width: 185px;">
                                <td onclick="location.href='@Url.Action("Search", "Cliente", new { IdViaje = ViewBag.IdViaje, NumeroAsiento = item.NumeroAsiento })'" class="type2 waiting"  style="width: 185px;">
                                <td onclick="location.href='@Url.Action("Search", "Cliente", new { IdViaje = ViewBag.IdViaje, NumeroAsiento = item.NumeroAsiento })'" class="type2 type4 waiting"></td>
                                <td onclick="location.href='@Url.Action("Search", "Cliente", new { IdViaje = ViewBag.IdViaje, NumeroAsiento = item.NumeroAsiento })'" class="type2 waiting" style="width: 130px;"></td>
                                <td style="width: 61px;"></td>
                            </tr>
                        }
                        else
                        {
                        <tr>
                            <td onclick="location.href='@Url.Action("Details", "Cliente", new { id = item.ClienteID, idViaje = ViewBag.idViaje, From = "Details" })'" class="type2 waiting" style="width: 25px;">
                                <p>@Html.DisplayFor(modelItem => item.NumeroAsiento)</p>
                            </td>
                            <td onclick="location.href='@Url.Action("Details", "Cliente", new { id = item.ClienteID, idViaje = ViewBag.idViaje, From = "Details" })'" class="type2 waiting" style="width: 160px;">
                                <p>@Html.DisplayFor(modelItem => item.Apellido) , @Html.DisplayFor(modelItem => item.Nombre)</p>
                            </td>
                            <td onclick="location.href='@Url.Action("Details", "Cliente", new { id = item.ClienteID, idViaje = ViewBag.idViaje, From = "Details" })'" class="type2 type13 waiting">
                                <p>@Html.DisplayFor(modelItem => item.DNI)</p>
                            </td>
                            <td onclick="location.href='@Url.Action("Details", "Cliente", new { id = item.ClienteID, idViaje = ViewBag.idViaje, From = "Details" })'" class="type2 type119 waiting">
                                <p>@Html.DisplayFor(modelItem => item.Telefono) @Html.DisplayFor(modelItem => item.TelefonoAlternativo)</p>
                            </td>
                            <td onclick="location.href='@Url.Action("Details", "Cliente", new { id = item.ClienteID, idViaje = ViewBag.idViaje, From = "Details" })'" class="type2 waiting"  style="width: 185px;">
                                <p>@Html.DisplayFor(modelItem => item.Ascenso)</p>
                            </td>
                           <td onclick="location.href='@Url.Action("Details", "Cliente", new { id = item.ClienteID, idViaje = ViewBag.idViaje, From = "Details" })'" class="type2 waiting"  style="width: 185px;">
                                <p>@Html.DisplayFor(modelItem => item.Descenso)</p>
                            </td>
                            <td onclick="location.href='@Url.Action("Details", "Cliente", new { id = item.ClienteID, idViaje = ViewBag.idViaje, From = "Details" })'" class="type2 type4 waiting">
                                <p>@Html.DisplayFor(modelItem => item.Pago)</p>
                            </td>
                            <td onclick="location.href='@Url.Action("Details", "Cliente", new { id = item.ClienteID, idViaje = ViewBag.idViaje, From = "Details" })'" class="type2 waiting" style="width: 130px;">
                                <p>@Html.DisplayFor(modelItem => item.Vendedor)</p>
                            </td>
                            <td style="width: 61px;">
                                <a onclick = "return confirmSpinner('Esta seguro que desea borrar el pasajero?');" href="@Url.Action("Delete", "Cliente", new { id = item.ClienteID, idViaje = ViewBag.idViaje })" >
                                    <span id="Span43" class="action retirar" title="Eliminar"/>
                                </a>
                                @if (item.Pago)
                                {
                                <a onclick="abrirBoleto('@Url.Action("ImprimirBoleto", "Cliente", new { IdClienteViaje = item.ClienteViajeID })');">
                                    <span id="Span44" class="action exportar" title="Imprimir Boleto" />
                                </a>
                                }
                            </td>
                        </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
