@using PagedList
@using PagedList.Mvc
@model IPagedList<SAV.Models.Viaje>

<div class="alertTablesExtended" id="alertTablesExtended">
		  <div class="seccion">

                 @Html.PagedListPager((IPagedList)Model, page => Url.Action("SearchPagingViajesCerrados", new { pageNumber = page })
, PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new PagedListRenderOptions() { DisplayLinkToFirstPage = PagedListDisplayMode.Never, DisplayLinkToLastPage = PagedListDisplayMode.Never, DisplayLinkToNextPage = PagedListDisplayMode.IfNeeded, DisplayLinkToPreviousPage = PagedListDisplayMode.IfNeeded, DisplayLinkToIndividualPages = false, DisplayPageCountAndCurrentLocation = true, LinkToNextPageFormat = "", LinkToPreviousPageFormat = "", PageCountAndCurrentLocationFormat = "Mostrando Pagina {0} de {1}", }
                                                                                                    , new AjaxOptions() { HttpMethod = "GET",OnBegin="enableSpinner", OnSuccess="disableSpinner", UpdateTargetId = "ViajesCerrados" }))

                <div class="headAlertTablesExtended selected">
				<p>Viaje por Cerrar</p>
				<a id="Busqueda" name="Busqueda" href="#" class="desplegado"></a>
			</div>
			<div id="tablaBusqueda" class="desplegableTablaCamp" style="display: block;">
				<table id="tablaParts" class="tablesorter">
					<thead>
						<tr class="headTitles noBorder">
							<th class="type2 type107"><p>Origen</p><span class="ordenamiento"></span></th>
							<th class="type2 type107"><p>Destino</p><span class="ordenamiento"></span></th>
							<th class="type2 type203"><p>Fecha Salida</p><span class="ordenamiento"></span></th>
							<th class="type2 type203"><p>Fecha Arribo</p><span class="ordenamiento"></span></th>
							<th class="type2 type204"><p>Servicio</p><span class="ordenamiento"></span></th>
							<th class="type2 type122"><p>Asit.</p><span class="ordenamiento"></span></th>
                            <th class="type2 type122"><p>Disp.</p><span class="ordenamiento"></span></th>
						</tr>
							
					</thead>
					<tbody>
                        @foreach (var item in Model)
                        {
						<tr>
                            @if(item.Origen != null){
							<td onclick="location.href='@Url.Action("Close", new { id = item.ID })'" class="type2 type107 waiting"><p>@Html.DisplayFor(modelItem => item.Origen.Nombre)</p></td>
                            }
                            else{
                            <td onclick="location.href='@Url.Action("Close", new { id = item.ID })'" class="type2 type107 waiting"><p>@Html.DisplayFor(modelItem => item.OrigenCerrado)</p></td>
                            }
                            @if(item.Destino != null){
							<td onclick="location.href='@Url.Action("Close", new { id = item.ID })'" class="type2 type107 waiting"><p>@Html.DisplayFor(modelItem => item.Destino.Nombre)</p></td>
                            }
                            else{
                            <td onclick="location.href='@Url.Action("Close", new { id = item.ID })'" class="type2 type107 waiting"><p>@Html.DisplayFor(modelItem => item.DestinoCerrado)</p></td>
                            }
							<td onclick="location.href='@Url.Action("Close", new { id = item.ID })'" class="type2 type203 waiting"><p>@Html.DisplayFor(modelItem => item.FechaSalida)</p></td>
							<td onclick="location.href='@Url.Action("Close", new { id = item.ID })'" class="type2 type203 waiting"><p>@Html.DisplayFor(modelItem => item.FechaArribo)</p></td>
							<td onclick="location.href='@Url.Action("Close", new { id = item.ID })'" class="type2 type204 waiting"><p>@Html.DisplayFor(modelItem => item.Servicio)</p></td>
							<td onclick="location.href='@Url.Action("Details", new { id = item.ID })'" class="type2 type122 waiting"><p>@Html.DisplayFor(modelItem => item.Asientos)</p></td>
                            <td onclick="location.href='@Url.Action("Details", new { id = item.ID })'" class="type2 type122 waiting"><p>@(item.Asientos - item.ClienteViaje.Count)</p></td>
						</tr>
						}
					</tbody>
				</table>
			</div>
		</div>
    </div>