@model SAV.Models.CreateViajeViewModel


@{
    ViewBag.Title = "Create";
}

@using (Html.BeginForm(null, null, FormMethod.Post, new { @id = "Create" }))
{
    @Html.ValidationSummary(true)
    <div id="content">
        <div class="headTables selected">
            <p>Nuevo Viaje</p>
        </div>
        <div class="contenidoDatos">

             <div class="datosInputs">
                <p class="edicion obligatorio">@Html.LabelFor(model => model.DatosBasicosViaje.Servicio)<b>(*)</b></p>
                @Html.DropDownListFor(model => model.DatosBasicosViaje.Servicio, from c in Enum.GetNames(typeof(SAV.Models.ViajeTipoServicio))
                                                               select new SelectListItem
                                                               {
                                                                   Text = c,
                                                                   Value = c
                                                               }, "Elija una opción")

                 <p class="edicion obligatorio">@Html.LabelFor(model => model.DatosBasicosViaje.ModalidadPrestacion)<b>(*)</b></p>
                 @Html.DropDownListFor(model => model.DatosBasicosViaje.SelectModalidadPrestacion, new SelectList(Model.DatosBasicosViaje.ModalidadPrestacion, "Key", "Value"), "Elija una opción")
            </div>

            <div id="ServicioAbierto">
                <div class="datosInputs">
                    <p class="edicion obligatorio">@Html.LabelFor(model => model.DatosBasicosViaje.Origen)<b>(*)</b></p>
                    @Html.DropDownListFor(model => model.DatosBasicosViaje.SelectOrigen, new SelectList(Model.DatosBasicosViaje.Origen, "Key", "Value"), "Elija una opción")

                    <p class="edicion obligatorio">@Html.LabelFor(model => model.DatosBasicosViaje.Destino)<b>(*)</b></p>
                    @Html.DropDownListFor(model => model.DatosBasicosViaje.SelectDestino, new SelectList(Model.DatosBasicosViaje.Destino, "Key", "Value"), "Elija una opción")
                </div>
            </div>

            <div id="ServicioCerrado">
                <div class="datosInputs">
                    <p class="edicion obligatorio">@Html.LabelFor(model => model.DatosBasicosViaje.OrigenCerrado)<b>(*)</b></p>
                    @Html.TextBoxFor(model => model.DatosBasicosViaje.OrigenCerrado)

                    <p class="edicion obligatorio">@Html.LabelFor(model => model.DatosBasicosViaje.ProvinciaOrigenCerrado)<b>(*)</b></p>
                    @Html.DropDownListFor(model => model.DatosBasicosViaje.SelectProvinciaOrigenCerrado, new SelectList(Model.DatosBasicosViaje.ProvinciaOrigenCerrado, "Key", "Value"), "Elija una opción")
                </div>
                <div class="datosInputs">
                    <p class="edicion obligatorio">@Html.LabelFor(model => model.DatosBasicosViaje.DestinoCerrado)<b>(*)</b></p>
                    @Html.TextBoxFor(model => model.DatosBasicosViaje.DestinoCerrado)

                    <p class="edicion obligatorio">@Html.LabelFor(model => model.DatosBasicosViaje.ProvinciaDestinoCerrado)<b>(*)</b></p>
                    @Html.DropDownListFor(model => model.DatosBasicosViaje.SelectProvinciaDestinoCerrado, new SelectList(Model.DatosBasicosViaje.ProvinciaOrigenCerrado, "Key", "Value"), "Elija una opción")
                </div>
                <div class="datosInputs">
                    <p class="edicion obligatorio">@Html.LabelFor(model => model.DatosBasicosViaje.CostoCerrado)<b>(*)</b></p>
                    @Html.TextBoxFor(model => model.DatosBasicosViaje.CostoCerrado)
                </div>
            </div>

            <div class="datosInputs">
                <p class="edicion obligatorio">@Html.LabelFor(model => model.DatosBasicosViaje.FechaSalida)<b>(*)</b></p>
                @Html.TextBoxFor(model => model.DatosBasicosViaje.FechaSalida, new { @class = "fecha", @id = "fechaSalida", @name = "fecha", @readonly = true })
            </div>

            <div class="datosInputs">

                <p class="edicion obligatorio">@Html.LabelFor(model => model.DatosBasicosViaje.HoraSalida)<b>(*)</b></p>
                @Html.EditorFor(model => model.DatosBasicosViaje.HoraSalida)


                <p class="edicion obligatorio">@Html.LabelFor(model => model.DatosBasicosViaje.HoraArribo)<b>(*)</b></p>
                @Html.EditorFor(model => model.DatosBasicosViaje.HoraArribo)


            </div>

            <div class="datosInputs">
                <p class="edicion obligatorio">@Html.LabelFor(model => model.DatosBasicosViaje.Asientos)<b>(*)</b></p>
                @Html.EditorFor(model => model.DatosBasicosViaje.Asientos)

                <p class="edicion obligatorio">@Html.LabelFor(model => model.DatosBasicosViaje.ConductorNombre)<b>(*)</b></p>
                @Html.DropDownListFor(model => model.DatosBasicosViaje.SelectConductorNombre, new SelectList(Model.DatosBasicosViaje.ConductorNombre, "Key", "Value"), "Elija una opción")
            </div>

            <div class="datosInputs">
                <p class="edicion obligatorio">@Html.LabelFor(model => model.DatosBasicosViaje.Patente)<b>(*)</b></p>
                @Html.EditorFor(model => model.DatosBasicosViaje.Patente)

                <p class="edicion obligatorio">@Html.LabelFor(model => model.DatosBasicosViaje.PatenteSuplente)</p>
                @Html.EditorFor(model => model.DatosBasicosViaje.PatenteSuplente)
            </div>
            <div class="datosInputs">
                <p class="edicion obligatorio">@Html.LabelFor(model => model.DatosBasicosViaje.Interno)<b>(*)</b></p>
                @Html.EditorFor(model => model.DatosBasicosViaje.Interno)
            </div>
        </div>
        <div class="headTables medio">
            <p>Repetir</p>
        </div>
        <div class="contenidoDatos medio">
            <div id="repeticion">
                <div class="datosInputs">

                    <p class="anchoCP edicion">@Html.LabelFor(model => model.Lunes)</p>
                    @Html.EditorFor(model => model.Lunes)

                    <p class="anchoCP edicion">@Html.LabelFor(model => model.Martes)</p>
                    @Html.EditorFor(model => model.Martes)

                    <p class="anchoCP edicion">@Html.LabelFor(model => model.Miercoles)</p>
                    @Html.EditorFor(model => model.Miercoles)

                    <p class="anchoCP edicion">@Html.LabelFor(model => model.Jueves)</p>
                    @Html.EditorFor(model => model.Jueves)
                </div>
                <div class="datosInputs">

                    <p class="anchoCP edicion">@Html.LabelFor(model => model.Viernes)</p>
                    @Html.EditorFor(model => model.Viernes)

                    <p class="anchoCP edicion">@Html.LabelFor(model => model.Sabado)</p>
                    @Html.EditorFor(model => model.Sabado)

                    <p class="anchoCP edicion">@Html.LabelFor(model => model.Domingo)</p>
                    @Html.EditorFor(model => model.Domingo)

                </div>
                <div class="datosInputs">
                    <p class="anchoFijo edicion">@Html.LabelFor(model => model.FechaRepeticionFin)</p>
                    @Html.TextBoxFor(model => model.FechaRepeticionFin, new { @class = "fecha", @id = "fechaRepeticion", @name = "fecha", @readonly = true })
                </div>


            </div>
            <div class="botones">
                <div class="boton">
                    <div class="inicioBotonGris"></div>
                    <input id="Guardar" class="centroBotonGris waiting" type="submit" value="Guardar"></input>
                    <div class="finBotonGris"></div>
                </div>
                <div class="boton">
                    <div class="inicioBotonGris"></div>
                    <input id="volver" class="centroBotonGris waiting disableValidation" type="button" value="Volver" onclick="location.href='@Url.Action("Search")    '" ></input>
                    <div class="finBotonGris"></div>
                </div>
            </div>
        </div>
        <div class="contenidoDatosError">
            <p>@Html.ValidationMessageFor(model => model.DatosBasicosViaje.SelectOrigen)</p>
            <p>@Html.ValidationMessageFor(model => model.DatosBasicosViaje.SelectDestino)</p>
            <p>@Html.ValidationMessageFor(model => model.DatosBasicosViaje.OrigenCerrado)</p>
            <p>@Html.ValidationMessageFor(model => model.DatosBasicosViaje.DestinoCerrado)</p>
            <p>@Html.ValidationMessageFor(model => model.DatosBasicosViaje.SelectProvinciaOrigenCerrado)</p>
            <p>@Html.ValidationMessageFor(model => model.DatosBasicosViaje.SelectProvinciaDestinoCerrado)</p>
            <p>@Html.ValidationMessageFor(model => model.DatosBasicosViaje.CostoCerrado)</p>
            <p>@Html.ValidationMessageFor(model => model.DatosBasicosViaje.HoraSalida)</p>
            <p>@Html.ValidationMessageFor(model => model.DatosBasicosViaje.HoraArribo)</p>
            <p>@Html.ValidationMessageFor(model => model.DatosBasicosViaje.Servicio)</p>
            <p>@Html.ValidationMessageFor(model => model.DatosBasicosViaje.FechaSalida)</p>
            <p>@Html.ValidationMessageFor(model => model.DatosBasicosViaje.Asientos)</p>
            <p>@Html.ValidationMessageFor(model => model.DatosBasicosViaje.SelectConductorNombre)</p>
            <p>@Html.ValidationMessageFor(model => model.DatosBasicosViaje.Patente)</p>
            <p>@Html.ValidationMessageFor(model => model.DatosBasicosViaje.PatenteSuplente)</p>
            <p>@Html.ValidationMessageFor(model => model.DatosBasicosViaje.Interno)</p>
            <p>@Html.ValidationMessageFor(model => model.DatosBasicosViaje.SelectModalidadPrestacion)</p>
        </div>
        <div id="Error" class="contenidoDatosError">
        </div>
    </div>
}


@section Scripts {
    <script src="/Scripts/ViajeCreate.js"></script>
}
