@model SAV.Models.CierreCajaViewModel

@{
    ViewBag.Title = "Balance";
}


<div id="content">
    <div class="headTables selected">
        <p>Buscar</p>
    </div>
    @using (Html.BeginForm())
    {
        <div class="contenidoDatos">
            <div class="datosInputs">
                <p class="edicion">@Html.LabelFor(model => model.Fecha)<b>(*)</b></p>
                <div class="divFecha">
                    @Html.TextBoxFor(model => model.Fecha, new { @class = "fecha", @id = "fecha", @name = "fecha", @readonly = true })
                </div>

                <p class="edicion">@Html.LabelFor(model => model.FechaHasta)</p>
                <div class="divFecha">
                    @Html.TextBoxFor(model => model.FechaHasta, new { @class = "fecha", @id = "fechaHasta", @name = "fechaHasta", @readonly = true })
                </div>
            </div>
            <div class="botones">
                <div class="boton">
                    <div class="inicioBotonGris"></div>
                    <input id="buscar" class="centroBotonGris waiting" type="submit" value="Buscar"></input>
                    <div class="finBotonGris"></div>
                </div>
                @if (Model.Pasajeros.Count > 0 || Model.Conductores.Count > 0 || Model.Comisiones.Count > 0 || Model.Gastos.Count > 0)
                {
                    <div class="boton">
                        <div class="inicioBotonGris"></div>
                        <input type="button" class="centroBotonGris" value="Exportar" id="Export"></input>
                        <div class="finBotonGris"></div>
                    </div>
                }
            </div>
        </div>
        <div class="footerTables"></div>
        <div class="contenidoDatosError">
            <p>@Html.ValidationMessageFor(model => model.Fecha)</p>
            <p>@Html.ValidationSummary(true)</p>
        </div>
    }
@if (Model.Pasajeros.Count > 0 || Model.Conductores.Count > 0 || Model.Comisiones.Count > 0 || Model.Gastos.Count > 0)
{
        <div class="alertTablesExtended" id="alertTablesExtended">
            <div class="seccion">
                <div class="headAlertTablesExtended selected">
                    <p>Cierre Caja</p>
                    <a id="Balance" name="Balance" href="#" class="desplegado"></a>
                </div>
                <div id="tablaBalance" class="desplegableTablaCamp" style="display: block;">
                    <table id="tablaParts" class="tablesorter">
                        <thead>
                            <tr class="headTitles noBorder">
                                <th class="type2" style="width: 700px;">
                                    <p>@Html.DisplayNameFor(model => model.Comisiones.First().Concepto)</p>
                                    <span class="ordenamiento"></span>
                                </th>
                                <th style="width: 200px;">
                                    <p>@Html.DisplayNameFor(model => model.Comisiones.First().Importe)</p>
                                    <span class="ordenamiento"></span>
                                </th>
                            </tr>

                        </thead>
                        <tbody id="tablaPasajeros">
                            @foreach (var item in Model.Pasajeros)
                            {
                                <tr>
                                    <td class="type2" style="width: 700px;">
                                        <p>@Html.DisplayFor(modelItem => item.Concepto)</p>
                                    </td>
                                    <td style="width: 200px;">
                                        <p>@Html.DisplayFor(modelItem => item.Importe)</p>
                                    </td>
                                </tr>
                            }
                            @if (Model.Pasajeros.Count > 0)
                            {
                                <tr class="headTitles noBorder" style="font-weight: bold">
                                    <td class="type2" style="width: 700px;">
                                        <p>Total Pasajeros:</p>
                                    </td>
                                    <td style="width: 200px;">
                                        <p>@Model.totalPasajeros</p>
                                    </td>
                                </tr>
                            }
                            @foreach (var item in Model.Conductores)
                            {
                                <tr>
                                    <td class="type2" style="width: 700px;">
                                        <p>@Html.DisplayFor(modelItem => item.Concepto)</p>
                                    </td>
                                    <td style="width: 200px;">
                                        <p>@Html.DisplayFor(modelItem => item.Importe)</p>
                                    </td>
                                </tr>
                            }
                            @if (Model.Conductores.Count > 0)
                            {
                                <tr class="headTitles noBorder" style="font-weight: bold">
                                    <td class="type2" style="width: 700px;">
                                        <p>Total Conductores:</p>
                                    </td>
                                    <td style="width: 200px;">
                                        <p>@Model.totalConductores</p>
                                    </td>
                                </tr>
                            }
                            @foreach (var item in Model.Comisiones)
                            {
                                <tr>
                                    <td class="type2" style="width: 700px;">
                                        <p>@Html.DisplayFor(modelItem => item.Concepto)</p>
                                    </td>
                                    <td style="width: 200px;">
                                        <p>@Html.DisplayFor(modelItem => item.Importe)</p>
                                    </td>
                                </tr>
                            }
                            @if (Model.Comisiones.Count > 0)
                            {
                                <tr class="headTitles noBorder" style="font-weight: bold">
                                    <td class="type2" style="width: 700px;">
                                        <p>Total Comisiones:</p>
                                    </td>
                                    <td style="width: 200px;">
                                        <p>@Model.totalComision</p>
                                    </td>
                                </tr>
                            }
                            @foreach (var item in Model.Gastos)
                            {
                                <tr>
                                    <td class="type2" style="width: 700px;">
                                        <p>@Html.DisplayFor(modelItem => item.Concepto)</p>
                                    </td>
                                    <td style="width: 200px;">
                                        <p>@Html.DisplayFor(modelItem => item.Importe)</p>
                                    </td>
                                </tr>
                            }
                            @if (Model.Gastos.Count > 0)
                            {
                                <tr class="headTitles noBorder" style="font-weight: bold">
                                    <td class="type2" style="width: 700px;">
                                        <p>Total Gasto:</p>
                                    </td>
                                    <td style="width: 200px;">
                                        <p>@Model.totalGasto</p>
                                    </td>
                                </tr>
                            }
                            <tr class="headTitles noBorder" style="font-weight: bold">
                                <td class="type2" style="width: 700px;">
                                    <p>Total:</p>
                                </td>
                                <td style="width: 200px;">
                                    <p>@Model.total</p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
}
</div>

<script language="javascript">
    var baseurl = '@Url.Action("ExportCierreCaja")';
    $('#Export').click(function() {
        var url = baseurl + '?fechaBusqueda=' + $('#fecha').val() + "&fechaHastaBusqueda=" + $('#fechaHasta').val();
        location.href=url;
    });
</script>