@model SAV.Models.BalanceViajeDiarioViewModel

@{
    ViewBag.Title = "Balance";
}


<div id="content">
    <div class="headTables selected">
        <p>Buscar</p>
    </div>
    @using (Html.BeginForm())
    {
        <div class="contenidoDatos">
            <div class="datosInputs">
                <p class="edicion">@Html.LabelFor(model => model.Fecha)<b>(*)</b></p>
                <div class="divFecha">
                    @Html.TextBoxFor(model => model.Fecha, new { @class = "fecha", @id = "fecha", @name = "fecha", @readonly = true })
                </div>

                <p class="edicion">@Html.LabelFor(model => model.FechaHasta)</p>
                <div class="divFecha">
                    @Html.TextBoxFor(model => model.FechaHasta, new { @class = "fecha", @id = "fechaHasta", @name = "fechaHasta", @readonly = true })
                </div>
            </div>
            <div class="datosInputs">
                <p class="edicion">@Html.LabelFor(model => model.Clave)<b>(*)</b></p>
                <div class="divFecha">
                    @Html.PasswordFor(model => model.Clave)
                </div>
            </div>
            <div class="botones">
                <div class="boton">
                    <div class="inicioBotonGris"></div>
                    <input id="buscar" class="centroBotonGris waiting" type="submit" value="Buscar"></input>
                    <div class="finBotonGris"></div>
                </div>
                @if (Model.Veiculos.Count > 0)
                {
                    <div class="boton">
                        <div class="inicioBotonGris"></div>
                        <input type="button" class="centroBotonGris" value="Exportar" id="Export"></input>
                        <div class="finBotonGris"></div>
                    </div>
                }
            </div>
        </div>
        <div class="footerTables"></div>
        <div class="contenidoDatosError">
            <p>@Html.ValidationMessageFor(model => model.Fecha)</p>
            <p>@Html.ValidationMessageFor(model => model.Clave)</p>
            <p>@Html.ValidationSummary(true)</p>
        </div>
    }

    @foreach(var veiculos in Model.Veiculos)
    { 
    <div class="alertTablesExtended" id="alertTablesExtended">
        <div class="seccion">
            <div class="headAlertTablesExtended selected">
                <p>Cod.:@veiculos.Id Moviminetos Servicio:@veiculos.Servicio Origen:@veiculos.Origen Destino:@veiculos.Destino Salida:@veiculos.HoraSalida Arribo:@veiculos.HoraArribo Patente:@veiculos.Patente Interno:@veiculos.Interno</p>
                <a id="Balance" name="Balance" href="#" class="desplegado"></a>
            </div>
            <div id="tablaBalance" class="desplegableTablaCamp" style="display: block;">
                <table id="tablaParts" class="tablesorter">
                    <thead>
                        <tr class="headTitles noBorder">
                            <th class="type2" style="width: 500px;">
                                <p>@Html.DisplayNameFor(model => veiculos.Items.First().Concepto)</p>
                                <span class="ordenamiento"></span>
                            </th>
                            <th style="width: 400px;">
                                <p>@Html.DisplayNameFor(model => veiculos.Items.First().Importe)</p>
                                <span class="ordenamiento"></span></th>
                        </tr>

                    </thead>
                    <tbody id="tablaPasajeros">
                        @foreach (var item in veiculos.Items)
                        {
                            <tr>
                                <td class="type2" style="width: 500px;">
                                    <p>@Html.DisplayFor(modelItem => item.Concepto)</p>
                                </td>
                                <td style="width: 400px;">
                                    <p>@Html.DisplayFor(modelItem => item.Importe)</p>
                                </td>
                            </tr>
                        }
                        @if (veiculos.Items.Count > 0)
                        {
                            <tr class="headTitles noBorder" style="font-weight: bold">
                                <td class="type2" style="width: 500px;">
                                    <p>Total:</p>
                                </td>
                                <td style="width: 400px;">
                                    <p>@veiculos.total</p>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    }
</div>

<script language="javascript">
    var baseurl = '@Url.Action("ExportViaje")';
    $('#Export').click(function() {
        var url = baseurl + '?fechaBusqueda=' + $('#fecha').val() + "&fechaHastaBusqueda=" + $('#fechaHasta').val();
        location.href=url;
    });
</script>
