@using PagedList
@using PagedList.Mvc
@model IPagedList<SAV.Models.CuentaCorriente>

<div class="alertTablesExtended" id="alertTablesExtended">
    <div class="seccion">
        @Html.PagedListPager((IPagedList)Model, page => Url.Action("SearchPagingCuentaCorriente", new { pageNumber = page, apellido = ViewBag.apellido, nombre = ViewBag.nombre, NumeroDocumento = ViewBag.NumeroDocumento, telefono = ViewBag.telefono })
                                                                                                    , PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new PagedListRenderOptions() { DisplayLinkToFirstPage = PagedListDisplayMode.Never, DisplayLinkToLastPage = PagedListDisplayMode.Never, DisplayLinkToNextPage = PagedListDisplayMode.IfNeeded, DisplayLinkToPreviousPage = PagedListDisplayMode.IfNeeded, DisplayLinkToIndividualPages = false, DisplayPageCountAndCurrentLocation = true, LinkToNextPageFormat = "", LinkToPreviousPageFormat = "", PageCountAndCurrentLocationFormat = "Mostrando Pagina {0} de {1}", }
                                                                                                    , new AjaxOptions() { HttpMethod = "GET", OnBegin = "enableSpinner", OnSuccess = "disableSpinner", UpdateTargetId = "partialViewCuentaCorrientes" }))

        <div class="headAlertTablesExtended selected">
            <p>Resultado</p>
            <a id="Busqueda" name="Busqueda" href="#" class="desplegado"></a>
        </div>
        <div id="tablaBusqueda" class="desplegableTablaCamp" style="display: block;">
            <table id="tablaParts" class="tablesorter">
                <thead>
                    <tr class="headTitles noBorder">
                        <th class="type2 type203"><p>Razón Social/Nombre</p><span class="ordenamiento"></span></th>
                        <th class="type2 type203"><p>CUIL/DNI</p><span class="ordenamiento"></span></th>
                        <th class="type2 type203"><p>Domicilio</p><span class="ordenamiento"></span></th>
                        <th class="type2 type106"><p>Telefono</p><span class="ordenamiento"></span></th>
                        <th class="type2 type119"><p>Debe</p><span class="ordenamiento"></span></th>
                    </tr>

                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td class="type2 type203 waiting" onclick="location.href='@Url.Action("Edit", new { id = item.ID })'"><p>@Html.DisplayFor(modelItem => item.RazonSocial)</p></td>
                            <td class="type2 type203 waiting" onclick="location.href='@Url.Action("Edit", new { id = item.ID })'"><p>@Html.DisplayFor(modelItem => item.CUIL)</p></td>
                            <td class="type2 type203 waiting" onclick="location.href='@Url.Action("Edit", new { id = item.ID })'"><p>@Html.DisplayFor(modelItem => item.Domicilio.getDomicilio)</p></td>
                            <td class="type2 type106 waiting" onclick="location.href='@Url.Action("Edit", new { id = item.ID })'"><p>@Html.DisplayFor(modelItem => item.Telefono)</p></td>
                            <td class="type2 type119 waiting" onclick="location.href='@Url.Action("Edit", new { id = item.ID })'"><p>@Html.DisplayFor(modelItem => item.Deuda)</p></td>
                            <td class="type5">
                                <a onclick="return confirmSpinner('Esta seguro que desea borrar la cuenta corriente?');" href="@Url.Action("Delete", new { id = item.ID })"><span id="Span43" class="action retirar" title="Eliminar" /></a>
                                <a onclick="Abrir('@Url.Action("Export", new { id = item.ID })')"><span id="Span44" class="action exportar" title="Exportar Debe" /></a>

                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>	

<script>
    function Abrir(Url) {
        var $dialog = $('<div style="overflow: hidden"; "></div>')
                       .html('<iframe style="border: 0px; " src="' + Url + '" width="100%" height="100%" scrolling="no"></iframe>')
                       .dialog({
                           autoOpen: false,
                           modal: true,
                           resizable: false,
                           height: 200,
                           width: 1010,
                           title: "Generar reporte de cuenta corriente"
                       });
        $dialog.dialog('open');
    }
</script>